# {{ outline.headline }}
{% if outline.subhead %}_{{ outline.subhead }}_{% endif %}

{% for s in outline.sections -%}
## {{ s.title }}
{% for b in s.bullets -%}
- {{ b }}
{% endfor %}

{% endfor -%}
**Next step:** {{ outline.cta }} 